<div id="#banner" class="home-global-container">
  <div class="container-fluid banner-photo">
    <div class="row">
      <div class="col-sm-12">
        <div id="my-slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
<!--             <div class="item active">
              <div class="photo-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 50%), url(<%= image_path "photo.jpg" %>);">
              </div>
            </div> -->

            <div class="item active">
              <div class="photo-banner" style="background-image: url(<%= image_path "retouche.png" %>);">
              </div>
              <div class="homepage-header">Des solutions sur mesure pour accompagner les sociétés de production à engager une transition écologique</div>
            </div>

            <div class="item">
              <div class="photo-banner" style="background-image:  url(<%= image_path "photo3.jpg" %>);">
                <div class="homepage-header">Notre mission : un bilan carbone allégé, des économies ciblées, une production engagée</div>
              </div>

            </div>

            <div class="item">
              <div class="photo-banner" style="background-image: url(<%= image_path "plage.png" %>);">
              </div>
              <div class="homepage-header">Le secteur audiovisuel émet plus de 1 million de tonnes équivalent CO2 dans l'atmosphère <br>chaque année</div>
            </div>

            <div class="item">
              <div class="photo-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 50%), url(<%= image_path "photo1.jpg" %>);">
              </div>
              <div class="homepage-header">L’éco-manager SECOYA est un « soldat de l’ombre » sur vos tournages</div>
            </div>



          <!-- controls or next and prev buttons -->
    <a class="left carousel-control" href="#carousel-current-projects" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-current-projects" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
        </div>


      </div>
    </div>
  </div>
</div>
