<div id="blog">
  <div class="container blog-presentation">
    <h2>ACTU</h2>
      <div class="row presentation-article">

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card-image" onclick="window.open('http://greenfilmshooting.net/blog/en/2018/02/22/the-sustainability-strategy/')" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'eolienne.jpg'  %>); ">
            </div>
              <div class="card">
               <div class="card-description">
                <h5>The sustainability strategy</h5> <br>
                  <p>Green Film Shooting, 22/02/2018</p>
                  <div class="btn-article text-center" onclick="window.open('http://greenfilmshooting.net/blog/en/2018/02/22/the-sustainability-strategy/')">Découvrir</div>
               </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card-image" onclick="window.open('http://greenfilmshooting.net/blog/en/2018/02/10/strategies-for-green-production-and-financing/')" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'leaf.jpg' %>);">
            </div>
              <div class="card">
                <div class="card-description">
                    <h5>Strategies for Green Production and Financing
                    </h5>
                    <p>Green Film Shooting, 10/02/2018</p>
                  <div class="btn-article text-center" onclick="window.open('http://greenfilmshooting.net/blog/en/2018/02/10/strategies-for-green-production-and-financing/')">Découvrir</div>
                </div>
              </div>
          </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-image" onclick="window.open('https://www.greenbiz.com/article/sustainable-production-movie-industry')" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'hollywood.jpg' %>);">
            </div>
             <div class="card">
               <div class="card-description">
                <h5>Sustainability could play leading role in the film industry</h5>
                  <p>GreenBiz, 27/11/2014</p>
                  <div class="btn-article text-center" onclick="window.open('https://www.greenbiz.com/article/sustainable-production-movie-industry')">Découvrir</div>
               </div>
            </div>

        </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card-image" onclick="window.open('http://www.greenproductionguide.com/green-film-shooting-a-climate-of-change/')" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'shooting.jpg'  %>); ">
            </div>
              <div class="card">
               <div class="card-description">
                <h5>Green film shooting: <br>a climate of change</h5>
                  <p>Green Production Guide, 2014</p>
                  <div class="btn-article text-center" onclick="window.open('http://www.greenproductionguide.com/green-film-shooting-a-climate-of-change/')">Découvrir</div>
               </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card-image" onclick="window.open('https://www.lesechos.fr/14/12/2011/LesEchos/21079-038-ECH_des-tournages-plus-ecologiques--une-priorite-pour-le-cinema.htm')" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'environnement.jpg' %>);">
            </div>
              <div class="card">
                <div class="card-description">
                    <h5>Des tournages plus écologiques, une priorité pour le cinéma
                    </h5>
                    <p>Les Echos, 14/12/2011</p>
                  <div class="btn-article text-center" onclick="window.open('https://www.lesechos.fr/14/12/2011/LesEchos/21079-038-ECH_des-tournages-plus-ecologiques--une-priorite-pour-le-cinema.htm')">Découvrir</div>
                </div>
              </div>
          </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-image" onclick="window.open('https://www.20minutes.fr/planete/600212-20100922-planete-clap-ecolo-tournages-films')" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'movie.jpg' %>);">
            </div>
             <div class="card">
               <div class="card-description">
                <h5>Clap écolo <br> pour les tournages de films</h5>
                  <p>20 minutes, 22/09/2010</p>
                  <div class="btn-article text-center" onclick="window.open('https://www.20minutes.fr/planete/600212-20100922-planete-clap-ecolo-tournages-films')">Découvrir</div>
               </div>
            </div>

        </div>



<!--           <div class="col-xs-12 col-sm-6 col-md-4">
            <%= link_to blog_path do %>
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'penguin.jpg'  %>); ">
            </div>
            <% end %>
              <div class="card">
               <div class="card-description">
                <h5>Nouvelle vague (verte), quand le cinéma se la joue écolo </h5>
                  <p>Vanity Fair, 24/11/2015</p>
                  <div class="btn-article text-center" onclick="window.open('http://www.vanityfair.fr/culture/cinema/articles/cinema-la-vague-des-films-ecolo/29961')">Découvrir</div>
               </div>
            </div>
          </div> -->
      </div>



  </div>
</div>

