<div id="blog">
  <div class="container blog-presentation">
    <h2>Actu</h2>
      <div class="row presentation-article">

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card-image" onclick="window.open('http://www.vanityfair.fr/culture/ecrans/articles/cinema-la-vague-des-films-ecolo/29961')" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'penguin.jpg'  %>); ">
            </div>
              <div class="card">
               <div class="card-description">
                <h5>Nouvelle vague (verte), quand le cinéma se la joue écolo</h5>
                  <p>Vanity Fair, 24/11/2015</p>
                  <div class="btn-article text-center" onclick="window.open('http://www.vanityfair.fr/culture/ecrans/articles/cinema-la-vague-des-films-ecolo/29961')">Découvrir</div>
               </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card-image" onclick="window.open('https://reporterre.net/Le-cinema-fait-rever-mais-il-a-les-pieds-dans-le-gaz-carbonique')" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'environnement.jpg' %>);">
            </div>
              <div class="card">
                <div class="card-description">
                    <h5>Le cinéma fait rêver mais il a les pieds dans le gaz carbonique
                    </h5>
                    <p>Reporterre, 24/05/2014</p>
                  <div class="btn-article text-center" onclick="window.open('https://reporterre.net/Le-cinema-fait-rever-mais-il-a-les-pieds-dans-le-gaz-carbonique')">Découvrir</div>
                </div>
              </div>
          </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-image" onclick="window.open('https://www.courrierinternational.com/article/2008/01/17/hollywood-un-mauvais-plan-pour-l-environnement')" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'hollywood.jpg' %>);">
            </div>
             <div class="card">
               <div class="card-description">
                <h5>Hollywood, un mauvais plan pour l’environnement</h5>
                  <p>Courrier International, 16/01/2008</p>
                  <div class="btn-article text-center" onclick="window.open('https://www.courrierinternational.com/article/2008/01/17/hollywood-un-mauvais-plan-pour-l-environnement')">Découvrir</div>
               </div>
            </div>

        </div>



<!--           <div class="col-xs-12 col-sm-6 col-md-4">
            <%= link_to blog_path do %>
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'penguin.jpg'  %>); ">
            </div>
            <% end %>
              <div class="card">
               <div class="card-description">
                <h5>Nouvelle vague (verte), quand le cinéma se la joue écolo </h5>
                  <p>Vanity Fair, 24/11/2015</p>
                  <div class="btn-article text-center" onclick="window.open('http://www.vanityfair.fr/culture/cinema/articles/cinema-la-vague-des-films-ecolo/29961')">Découvrir</div>
               </div>
            </div>
          </div> -->
      </div>
  </div>
</div>

